body{
  position: relative;
  background-size: cover;
  background-image: url('Windows_Final_3840p_v10_opt.png');
  background-repeat: no-repeat;
  transition-duration: 1.2s;
}
.back{
    opacity: 0;
    border: 10px red;
    border-radius:15px;
    border-style:solid;
    visibility: hidden;
}

h1{
    font-size:40px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-space:1.2px;
    text-shadow:-4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
    transition-duration: 4.5s;
        
    
}


.google{
  box-shadow:3px 3px 11px black;
  transition-duration:2.3;
  border:solid black;
  border-radius:15px;
  margin-top: 100px;
  margin:800px 600px;
  cursor:pointer;
  margin-left: 10px;
}

.google:active{
  box-shadow:4px 4px 15px black;
  transition-duration:1.1;
  border:solid black;
  border-radius:15px;
  cursor:pointer;
}


.recommend{
    box-shadow:3px 3px 11px black;
  transition-duration:2.3;
  border:solid black;
  border-radius:15px;
  margin-top: 200px;
  margin:700px -100px;
  cursor:pointer;
  margin-left: 10px;
  
}

recommend:active{
    box-shadow:4px 4px 15px black;
  transition-duration:1.1;
  border:solid black;
  border-radius:15px;
  cursor:pointer;
  
}
.google:hover {
  animation: MoveUpDown 1s linear infinite;}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 30px;
  }
}


