body{
    z-index: 34;
  background-color:lightgrey;
}

.back{
    z-index:10;
    opacity: 0;
    border: 10px red;
    border-radius:15px;
    border-style:solid;
    visibility: hidden;
}

h1{
    font-size:40px;
    font-family: sans-serif;
    letter-space:1.2px;
    text-shadow: -4px 4px #FF0000,
                 -8px 8px #FFA500;
        
    
}
